{
    "env": {
        "browser": true,
        "es6": true,
        "jest/globals": true
    },
    "extends": [
        "airbnb-typescript"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "jest"
    ],
    "rules": {
        "max-len": [2, 160, 4],
        "no-continue": 0,
        "no-bitwise": 0,
        "no-underscore-dangle": "off",
        "import/no-webpack-loader-syntax": "off",
        "prefer-template": "off",
        "no-param-reassign": "off",
        "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "lines-between-class-members": "off",
        "no-dupe-class-members": "off",
        "no-plusplus": "off",
        "object-curly-newline": "off",
        "@typescript-eslint/camelcase": "off"
    },
    "settings": {
      "import/resolver": {
        "webpack": {}
      }
    }
}